name: Generate Readme
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Add tags'
        required: false

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Table of Contents
        uses: technote-space/toc-generator@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_PATHS: 'README.md'
          TOC_TITLE: '## Table of Contents'
          MAX_HEADER_LEVEL: 3
          COMMIT_MESSAGE: 'docs: update table of contents'
